/* style.css */
*{
    box-sizing: border-box;
    color: #777;
}
/* Reset some default styles for a cleaner slate */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.movie-details-container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex-basis: 48%;
}

.movie-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.movie-poster {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.movie-rating {
    font-size: 18px;
    color: #ff9900;
    margin-bottom: 10px;
}

.movie-overview {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

