/* style.css */
*{
    box-sizing: border-box;
    color: #777;
}
/* Reset some default styles for a cleaner slate */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
}

header {
    background-color: #f0f0f0;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#movie-container2{
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.movie {
    flex: 1;
    min-width: calc(33.33% - 20px); 
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.movie img {
    width: 100%;
    height: auto;
    display: block;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

