* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
}

.inner_header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner_header2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo_container h1 {
    color: #a45ee5;
    text-align: center;
    font-family: 'Rammetto';
    font-size: 69px;
}

.navigation {
    display: flex;
    text-align: right;
}

.navigation a {
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.navigation a:last-child {
    padding-right: 20px;
}

.navigation li a {
    display: flex;
    align-items: center;
    color: #a45ee5;
    font-family: "Rammetto";
    font-size: 21px;
}

#logInLink {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    color: #a45ee5;
    font-family: "Rammetto";
    font-size: 21px;
    text-align: right;
}

#profile-dropdown {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    font-family: 'Rammetto';
    font-size: 20px;
    color: #9966CC;
    margin-left: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    /*box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);*/
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content a {
    display: block;
    padding: 12px 16px;
    font-size: 16px;
    color: #a45ee5;
    transition: background-color 0.3s;
}

.dropdown-content button {
    display: block;
    padding: 12px 16px;
    font-size: 16px;
    color: #a45ee5;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #f2f2f2;
}

.dropdown:hover #profile-dropdown {
    color: #7f3da5;
}

.dropdown-content button {
    padding: 12px 16px;
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
    border: none;
    background: none;
    background-color: transparent;
    font-size: 16px;
    color: #333;
    transition: background-color 0.3s;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.common-dropdown-button {
    width: 100%;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.search-bar {
    display: flex;
    margin-bottom: 20px;
}

#search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

#search-button {
    padding: 10px 20px;
    background-color: #a45ee5;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
}

#search-button:hover {
    background-color: #7f3da5;
}

.search-type-button {
    padding: 10px 20px;
    background-color: #a45ee5;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
}

.search-type-button:hover {
    background-color: #7f3da5;
}

#switch-to-actors-button,
#switch-to-movies-button {
    width: 100%;
    padding: 10px 20px;
    /* Adjusted padding for consistency with the search type button */
    border: none;
    background-color: #a45ee5;
    /* Use the same background color as the search type button */
    color: #fff;
    /* Text color */
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#switch-to-actors-button:hover,
#switch-to-movies-button:hover {
    background-color: #7f3da5;
}

.trend-buttons {
    display: flex;
    justify-content: space-around;
    /* Center the buttons with equal space between them */
    margin-top: 20px;
}

.trend-buttons button {
    padding: 10px 20px;
    width: 100%;
    background-color: #a45ee5;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.trend-buttons button:hover {
    background-color: #7f3da5;
}


.page-title {
    color: #a45ee5;
    text-align: center;
    font-size: 24px;
    margin: 20px auto;
}

#movie-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie,
.actor {
    flex: 1;
    min-width: calc(33.33% - 20px);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.movie img,
.actor img {
    width: 100%;
    height: auto;
    display: block;
}

.movie .movie-info,
.actor .actor-info {
    padding: 10px;
}

.movie h3,
.actor h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.movie p,
.actor p {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    line-height: 1.5;
}

.release-date {
    font-size: 16px;
    color: #555;
    margin-top: 5px;
}

.movie.expanded .overview {
    display: block;
}

.movie .overview {
    display: none;
}

.movie-info .toggle-button {
    background-color: #a45ee5;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, transform 1s;
}

.movie-info .toggle-button:hover {
    background-color: #7f3da5;
}

.movie.expanded .toggle-button {
    transform: rotate(360deg);
}

#trend {
    text-align: center;
    color: #a45ee5;
    text-align: center;
    font-family: 'Rammetto';
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
}

.no-results-message {
    text-align: center;
    font-size: 1.5rem;
    color: #555;
    margin-top: 20px;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }


    to {
        opacity: 1;
    }
}